<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example" 
    version     = "1.0.0" >

    <name>Quackr</name>

    <description>
        Knowledge and gaming combined. Quack 'em! 
    </description>

    <author href="http://d00med.net/" email="hazcod@outlook.be">
        Niels Hofmans &amp; Kevin Jossart
    </author>

    <!-- plugins -->
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.core.AccelListener" />


    <!-- cache data -->
    <feature name="http://api.phonegap.com/1.0/file"/>
    <!-- get location to find nearby competitors -->
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <!-- check network connection online/offline -->
    <feature name="http://api.phonegap.com/1.0/network"/>
    <!-- Enable auth0 to show popup -->
    <feature name="InAppBrowser">
        <param name="ios-package" value="CDVInAppBrowser" />
        <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
    </feature>

    <content src="index.html" />
    <access origin="*" />
</widget>
