<div data-role="page">
<!-- SLIDEMENU START -->
<div data-role="panel" id="panel" data-position="left" data-theme="a" data-display="push">

	<div class="wrapmenu">  
	  <ul class="menu">
		<li><a href="register.html" class="ui-btn ui-icon-plus ui-btn-icon-left"><span>Register</span></a></li>
	  </ul> 
	</div>
</div>
<!-- SLIDEMENU STOP -->
<div data-role="header">
  <a data-iconpos="notext" href="#panel" data-role="button" data-icon="flat-menu"></a>
  <h1>Quackr</h1>
</div>

<div data-role="content" role="main">
	<div data-role="controlgroup" data-type="horizontal" style="text-align:center;">
		<img class="scale-img" src="css/images/logo.svg" alt="Quackr logo">
		
		<p>Login to Quackr.</p>
		<form method="POST">
			<input type="email" placeholder="Email Address" class="required" required/>
			<input type="password" placeholder="Password" class="required" required/>
			
			<br>
			<div data-role="controlgroup">
				<button data-icon="flat-new" class="ui-btn ui-btn-b ui-icon-flat-checkmark ui-btn-icon-left ui-shadow fullwidth">Login</button>
				<a href="javascript:app.navigate('register');" data-icon="flat-new" class="ui-btn ui-btn-c ui-icon-flat-plus ui-btn-icon-left ui-shadow fullwidth">Create account?</a>
			</div>
		</form>
	 </div>
</div>
</div>