<div id="overviewpage"></div>
<div data-role="page">
    <!-- SLIDEMENU START -->
    <div data-role="panel" id="panel" data-position="left" data-theme="a" data-display="push">

        <div class="wrapmenu">
            {{> menu}}
        </div>
    </div>
    <!-- SLIDEMENU STOP -->
    <div data-role="header">
        <a data-iconpos="notext" href="#panel" data-role="button" data-icon="flat-menu"></a>
        <h1>Question</h1>
        <a data-iconpos="notext" data-role="button" data-icon="home" title="Home" href="#profile"></a>
    </div>

    <div data-role="content" role="main">
        <div class="centerdiv">
            <div id="pb_question"></div>
            <br>
            {{> messages}}
            <br>
            {{#with question}}
            <div class="innerdiv">
                <div>
                    <div id="pb_question" style="width:100px; height:80px"></div>
                </div>
                <div class="ui-corner-all custom-corners">
                    <div class="ui-bar ui-bar-a">
                        <h3>You are quackin' <strong>{{category}}</strong> on difficulty <strong>Level {{lvl}}</strong></h3>
                    </div>
                    <div class="ui-body ui-body-a">
                        <p>
                            {{question}}
                        </p>
                        <br>
                        <div class="row">
                            {{#each propanswers}}
                            <label class="radio answer">
                                <input type="radio" name="answer" id="answer-{{{id}}}" value="{{{id}}}" data-toggle="radio">
                                <span class="icons">
                                    <span class="icon-unchecked"></span>
                                    <span class="icon-checked"></span>
                                </span>
                                {{{propanswer}}}
                            </label>
                            {{/each}}
                        </div>
                        <p id="deviceIsReady">
                        Rather have another question? Just give your phone a good shake!
                        </p>
                        <div class="row">
                            <button id="go" data-icon="flat-checkround" data-theme="b" onClick="javascript:guess('{{catid}}','{{id}}');" disabled>Go</button>
                            <!-- "javascript:redirect('guess?c={{catid}}&amp;q={{id}}&amp;a=' + selected);" -->
                        </div>
                    </div>
                </div>
            </div>
            {{/with}}
        </div>
<script type="text/javascript">
$("input[type=radio]").on( "click", function() {
    selected = $(this).val();
    $('#go').removeAttr('disabled');
});

function guess(catid, questionid){
    //All possible correct answers
    var answers = [ {{#each question.correctanswer}} '{{id}}', {{/each}} ];
    log('Possible answers:');
    log(answers);
    log('Selected: ' + selected);
    if (selected){
        var correct = false;
        //Support for multiple possibilities
        answers.forEach(function (entry){
            if (entry === selected){
            correct = true;
            }
        });

        if (correct){
            log('Question correct!');
            app.model.correct(questionid);
            redirect('next?id=' + catid);
        } else {
            log('Question incorrect!');
            app.model.incorrect(questionid);
            setErrorMessage("Woops! You got it wrong! Try this one...");
            redirect('question?id=' + catid);
        }
    }
}
        </script>
